footer{
   background-color:#07222E;
   width: 100%;
    bottom: 0;
    height: 500px;
    padding-top: 10px;
   
   
  }
  .custom{
    background: #07222E;
 
    font-size: medium;
    font-family: 'Bree Serif', serif;
    color: hsl(0, 0%, 100%);
    font-size: 30px;
}