footer{
   
    background-color:#281931;
   
    width: 100%;
   
    bottom: 0;
    height: 500px;
    padding-top: 10px;
   
   
  }
  .custom{
    background: #281931;
    opacity: 0.8;
    font-size: medium;
    font-family: 'Bree Serif', serif;
    color: hsl(0, 0%, 100%);
    font-size: 30px;
}