.custom{
    background: #281931;
    opacity: 0.8;
    font-size: medium;
    font-family: 'Bree Serif', serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 100%;
    margin: 0%;
}
.Search-box{
    text-align: end;
    
    
}
.search{
    width: 400px;
    border-radius: 25px !important;
    padding: 30px;
}
.form-control{
    border-radius: 25px !important;
    padding: 30px;
}